@model  Mvc3QA.Models.Pts_Problems
@using res = Resource.Views.Admin.Admin;
@{Mvc3QA.General.GeneralConfigInfo ci = ViewBag.CI as Mvc3QA.General.GeneralConfigInfo;}
@{
    ViewBag.Title = "详细信息";
}
@Html.Action("QuestionCount", "Problems")
<div class="row-fluid">
<div class="span12">
<div class="row-fluid">
    <div class="tabbable ">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#lA" data-toggle="tab">问题详细信息</a></li>
            <li class=""><a href="#lB" data-toggle="tab">处理过程</a></li>        
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="lA">
            @if (ViewBag.Department == "2ba34c68-9c2c-4e06-9e17-ecd2e1156438")
            {
                <dl>@Html.ActionLink("回复", "YFCreate", "Records", new { @id = Model.ProblemID }, new { @class = "btn" })</dl> 
            }
            else
            {
                 <dl>@Html.ActionLink("回复", "Create", "Records", new { @id = Model.ProblemID }, new { @class = "btn" })</dl>
            }
               
                <div class="well">
                    <div class="span3">
                        <strong>标题:</strong> @Html.DisplayFor(model => model.Title)</div>
                    <div class="span3">
                        <strong>分类：</strong> @ViewBag.CategoryID</div>
                    <div class="span3">
                        <strong>开始时间：</strong> @String.Format("{0:d}", Model.StartTime)</div>
                    <div class="span3">
                        <strong>期望解决时间：</strong> @String.Format("{0:d}", Model.CloseTime)</div>                       
                </div>
                <div class="well">
                  <div class="span3">
                        <strong>问题提交人：</strong> @Html.DisplayFor(model => model.CreatUserName)</div>
                        <div class="span3">
                        <strong>问题是否解决：</strong> @Html.DisplayFor(model => model.IsClosed)</div>
                </div>
                <div class="well">
                <h5 style=" margin-bottom:10px;">详细信息</h5>
                <blockquote>描述：  @Html.DisplayFor(model => model.Description)</blockquote>
                  @Html.Raw(@Model.Content)
                </div>
            </div>
            <div class="tab-pane" id="lB">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                问题状态
                            </th>
                            <th>
                                处理意见
                            </th>
                            <th>
                                处理时间
                            </th>
                            <th>处理过程</th>
                            <th>停留时间</th>                           
                            <th>
                                处理人
                            </th>
                            <th>接收人</th>
                            @*  <th>
                                    操作
                                </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @{var count = 1;}
                        @foreach (var item in Model.Pts_Records.OrderBy(p => p.CreateTime))
                        {   
                            <tr>
                                <td>
                                    <span class="badge badge-success">@count</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pts_ProblemState.StateName)
                                    @if (item.Pts_ProblemState.StateName == "研发中" && ViewBag.Edit=="1")
                                    {
                                         <a href="#" class="badge badge-warning" id="UpdateTime" title="@item.ProblemID">修改</a> 
                                    }                                   
                                </td>
                                <td>
                                    <a href="#" class="Describe" data-content="@Html.Raw(item.Describe)" data-original-title="">
                                        @if (@item.Describe.Length > 10)
                                        {
                                            @item.Describe.Substring(0, 10);
                                        }
                                        else
                                        {
                                            @item.Describe.Substring(0, item.Describe.Length);
                                        }
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateTime)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Course)</td>
                                   <td>@Html.DisplayFor(modelItem => item.ResponseTotalTime)</td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateUser)
                                </td>
                                  <td>
                                    @Html.DisplayFor(modelItem => item.AssignToObjectID)
                                </td>
                                @* <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>*@
                            </tr>
                                        { count++; }
                        }
                    </tbody>
                </table>
            </div>
          
        </div>
    </div>
</div>
</div>

</div>

<div id="confirmDiv" style="display: none;" class="">
    <div class="modal" id="confirmContainer">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a><h3>
              修改研发时间</h3>
        </div>
        <div class="modal-body">
           <input type="text" name="YFTime" id="YFTime" value="" /></div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="confirmYesBtn">确定</a><a href="#" class="btn"
                data-dismiss="modal">取消</a></div>
    </div>
</div>
@section Js{
    <script type="text/javascript">

        $(function () {

            $(".Describe")
      .popover()
      .click(function (e) {
          e.preventDefault()
      })

            $("#UpdateTime").click(
         function () {
             $('#YFTime').datepicker();
             var pid = $(this).attr("title");


             //                $.post("@Url.Content("~/Problems/GetDeptUser/")", { id: Did }, function (data) {
             //                    if (data == "-1") {
             //                        alert("删除失败");
             //                    }
             //                    else {$.each(data,function(index,item){  $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#AssignToObjectID")); })                   
             //                   
             //                    }

             //                });

             $("#confirmDiv").confirmModal({
                 heading: '修改研发时间', body: '',
                 callback: function () {                 
                     var times = $('#YFTime').val();
                     $.post('/Records/UpdateTime', { pid: pid, times: times }, function (data) {
                         if (data == "1") {
                             alert("研发时间修改成功");
                         } else {
                             alert("操作失败请重试");
                         }
                      
                         //                                                    $('#' + user).fadeOut('fast', function () {
                         //                                                        $(this).remove();
                         //                                                    });
                     });
                 }
             });


         });
        });
    </script>
}
