@model Mvc3QA.Models.Pts_ProblemType

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Pts_ProblemType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProblemTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProblemTypeID)
            @Html.ValidationMessageFor(model => model.ProblemTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectID)
            @Html.ValidationMessageFor(model => model.ProjectID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TypeName)
            @Html.ValidationMessageFor(model => model.TypeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ListOrder)
            @Html.ValidationMessageFor(model => model.ListOrder)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
