@model Mvc3QA.Models.Pts_Problems
@using res = Resource.Views.Admin.Admin;
@{Mvc3QA.General.GeneralConfigInfo ci = ViewBag.CI as Mvc3QA.General.GeneralConfigInfo;}

@{
    ViewBag.Title = "AdminEdit";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kindeditor/kindeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kindeditor/lang/zh_CN.js")" type="text/javascript"></script>
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs">
            <li><a href="#">管理首页</a></li>
            <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                问题管理 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("查看问题", "AdminProblems", "Admin")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("新增", "AdminAddProblems", "Admin")</li>
                    <li class="divider"></li>
                    <li><a href="#">修改</a></li>
                </ul>
            </li>
            <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">配置管理
                <b class="caret bottom-up"></b></a>
                <ul class="dropdown-menu bottom-up pull-right">
                    <li>@Html.ActionLink(res.BasisSet, "AdminBaseConfig", "Admin")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink(res.CategorySettings, "AdminCategorySort", "Admin")</li>
                </ul>
            </li>
            <li class="dropdown "><a class="dropdown-toggle" data-toggle="dropdown" href="#">用户管理
                <b class="caret bottom-up"></b></a>
                <ul class="dropdown-menu bottom-up pull-right">
                    <li>@Html.ActionLink("-" + res.UserManagement + " -", "AdminUserList", "Admin")</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink(res.Administrators, "AdminManagerList", "Admin")</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="span12">
        <ul class="breadcrumb">
            <li class="active">提交问题</li>
        </ul>
    </div>
    <div class="span12 well">
        @using (Html.BeginForm("AdminEdit", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {         
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Title)@Html.HiddenFor(model => model.ProblemID)
                    @Html.HiddenFor(model => model.IsStart)@Html.HiddenFor(model => model.IsClosed)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.CategoryID)
                </div>
                <div class="controls">
                    @Html.DropDownList("CategoryID")
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.AssignedTo)
                </div>
                <div class="controls">
                    @Html.DropDownList("AssignedTo")<select id="LastUser" name="LastUser"></select> 
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.StartTime)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.StartTime)
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.CloseTime)
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.CloseTime)
                    @Html.ValidationMessageFor(model => model.CloseTime)
                </div>
            </div>               
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Content)
                </div>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Content, new { style = "width: 600px; height: 300px" })
                    @Html.ValidationMessageFor(model => model.Content)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    @Html.LabelFor(model => model.Description) <span id="SummaryTxtCount">(300)</span>
                </div>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Description, new { style = "width: 600px; height: 100px" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div>
                <input type="submit" name="BtnSubmit" id="BtnSubmit" class="btn btn-primary" value="保存" />
                <span id="Loading" style="display: none;">@res.Ajax_Tip</span>
            </div>           
        }
    </div>
</div>
@section JS{
    <script type="text/javascript">
        var currentitem = "@ViewBag.CurrentItem";
        $(function () {

         $("[name='AssignedTo']").change(
        function () {
         
                var Did = $(this).attr("value");
               $("#LastUser").find("option").remove();  //清空
                              
                $.post("@Url.Content("~/QAAdmin/Admin/GetDeptUser/")", { id: Did }, function (data) {
                    if (data == "-1") {
                        alert("删除失败");
                    }
                    else {$.each(data,function(index,item){  $("<option></option>").val(item["Value"]).text(item["Text"]).appendTo($("#LastUser")); })                   
                   
                    }

                });
           
        }
        );




            $('#StartTime, #CloseTime').daterangepicker(); 
            $("#" + currentitem).addClass("selected");
            /*
            //添加一个编辑器
            var editor;
            KindEditor.ready(function (K) {
            editor = K.create('textarea[name="Content"]', {
            allowFileManager: true
            });
            });


            //添加多个编辑器,方法1，遍历一次性添加
            var $textareas = $(".clstxtarea textarea");
            KindEditor.ready(function (K) {
            $.each($textareas, function () {
            //alert($(this).attr("id"));
            K.create(this);
            });
            });

   
            【参数说明】参数1，绑定的textarea对象，参数2，json对象，编辑器属性设置。常用如下：
            详细可参考：http://www.kindsoft.net/docs/option.html
            cssPath : '/css/index.css',//可用其它CSS选择器
            resizeType: 0, 
            allowImageUpload: true, 
            uploadJson: 'kindeditor-4.0.5/asp.net/upload_json.ashx',
            fileManagerJson: '/Controller/Action/', 
            allowFileManager: true,
            width: "100%", //编辑器的宽度为100%
            height: "250px", //编辑器的高度为100px
            filterMode: false, //不会过滤HTML代码
            resizeMode: 1 //编辑器只能调整高度
            精简模式 例如： 
            items: [ 
            'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 
            'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 
            'insertunorderedlist', '|', 'emoticons', 'image', 'link'] 

            */
            //添加多个编辑器，方法2，逐个添加，可以分别作差异化的设置
            var editorSummary = null;
            var editorContent = null;

            KindEditor.ready(function (K) {
                editorSummary = K.create('textarea[name="Description"]',
                            {
                                allowImageUpload: true,
                                uploadJson: '/admin/UploadFile',
                                afterCreate: function () {
                                    $(this.edit.doc).keyup(function () { SummaryTxtKeyUp(); });
                                }
                                //, items: ['fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', '|', 'image', 'link']
                            });

                            editorContent = K.create('textarea[name="Content"]', {
                    allowImageUpload: true,
                    uploadJson: '/admin/UploadFile'
                    //                ,items: [
                    //'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    //'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    //'insertunorderedlist', '|', 'emoticons', 'image', 'flash', 'media', 'insertfile', 'table', 'link']
                });
            });

//            $(document).keyup(function () {
//                    alert($('#Content').val());
//                });

                    function SummaryTxtKeyUp() {
                        editorSummary.sync();
                        var summarytxt = $('#Description').val();
                        $("#SummaryTxtCount").html('(' + (300 - summarytxt.length) + ')');
                    }

            $("#BtnSubmit").click(function () {
                            editorSummary.html(ReplaceKESpace(editorSummary.html()));
                            editorSummary.sync();
                editorContent.html(ReplaceKESpace(editorContent.html()));
                editorContent.sync();
            });

        });
    </script>
}
